
@{
    Layout = "AdminLayout";
}
@model Yorum 
<div>
    <br />
    <form action="YorumEkle" method="post">
        <label>Kullanıcı Adı</label><br />
        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })<br />
        <label>Kullanıcı Mail</label><br />
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })<br />
        <label>Kullanıcı Açıklama</label><br />
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })<br />
        <label>Yorum Eklenecek Blog ID</label><br />
        @Html.TextBoxFor(x => x.blogId, new { @class = "form-control" })<br />
        <br />
        <button class="btn btn-success">Ekle</button>
    </form>
</div>